<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our trees</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @trees.count %> trees out of our <%= Tree.count %> on our website.</p>
      <% else %>
        <p>All <%= Tree.count %> trees.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @trees.each do |tree| %>
      <div class="col-md-4">
        <div class="tree-card">
          <div class="tree-card-content">
            <div class="tree-card-title">
              <h4><%= tree.name %></h4>
            </div>
            <p><%= tree.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= tree.price_per_year %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= tree.quantity_per_year %></span>
              </div>
            </div>
          </div>
          <div class="tree-card-actions">
            <%= link_to "More info", tree_path(tree) %>
            <%= link_to "Edit", edit_tree_path(tree), class: "ms-3 text-warning" %>
            <%= link_to "Remove", tree_path(tree),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
